@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tilt Neon;
    border: 0;
    outline: 0;
}
/* Heade of page */

header{

    width: 100%;
    height: 50px;
    background-color: rgb(156, 0, 104);
    outline: 1px solid white;
    display: flex;
}
.header_1{

    height: 100%;
    width: 80%;
    margin: auto 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header_2{

    display: flex;
    justify-content: end;
    margin-right: 20px;
    align-items: center;
    width: 20%;
    font-size: 20px;
}
.header_2 a{

    cursor: pointer;
    color: white;
    text-decoration: none;
}
header div a{

    margin: auto 20px;
}
.icon{

    width: 50px;
    height: 50px;
}

/* settings of box */

.box{

    width: 230px;
    height: 330px;
    background-color: #cbcecf;
    margin: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px black;
}
.msg-product{

    padding: 0 20px;
    display: flex;
    height: 200px;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    outline: 2px solid white;
    color: white;
    font-size: 20px;
}
.msg-product a{

    font-size: 15px;
    color: white;
}

/* Image */

.img{

    height: 90%;
    width: 90%;
    margin: 11px;
    border-radius: 10px;
    overflow: hidden;
}
.img-settings-size{ /* img of box */

    height: 90%;
    width: 90%;
    margin: 11px;
    border-radius: 10px;
    overflow: hidden;
}
.img-settings{ /* editing the image */

    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Link of box */

.title-of-box{

    text-align: center;
    height: 20px;    
    margin-bottom: 30px;
}

/* Button */

.button{

    height: 40px;
    width: 180px;
    background-color: black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.button-size{

    margin: auto auto 10px auto;
}
.button:hover{

    background-color: rgba(0, 0, 0, 0.95);
    transition: .3s;
}

/* box in novidades*/

.box-nov{

    height: 250px;
    width: 320px;
    border-radius: 10px;
    margin: 20px;
    background-color: #cbcecf;
    cursor: pointer;
 }
 .box-nov:hover{

    transform: scale(1.02);
    transition: .7s;
 }

 /* box-stores */

.box-stores{

    width: 200px;
    height: 100px;
    background-color: #cbcecf;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}
.box-stores:hover{

    transform: scale(1.03);
    transition: .3s;
}







 /* settings of page */

.line-of-options{ /* Line bottom of options */

    text-decoration: none;
}
.line-of-options:hover{

    text-decoration: underline;
}
 .title{ /* title of page */

    margin: 20px 50px;
    width: 100%;
    color: white;
 }