/* style of pages */
body{

    width: 100%;
    margin-top: 50px;
}
main{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
}
/* editVideo.php */
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 50px;
}
label{
    width: 100%;
    color: white;
}
input[type='text']{

    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}
img{

    width: 200px;
    height: 100px;
}
/* profile.php and outherProfile.php */
.box-follow{
    width: 300px;
    color: white;
    display: flex;
}
.box-follow p{
    width: 150px;
    height: 20px;
    margin: 20px;
    display: flex;
}
.btn-follow{

    background-color: #0b0b0b;
    color: white !important;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
}
.btn-follow:hover{

    background-color: #2b2b2b;
}
.box-config{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 330px;
    height: 225px;
    background-color: #2b2b2b;
    border-radius: 10px;
}
.edit{
    width: 100px;
    height: 90%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
}
.config{

    display: block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(37, 37, 190);
    color: white !important;
    cursor: pointer;
    transition: .3s;
    margin-top: 45px;
    text-decoration: none;
    text-align: center;
    padding-top: 13px;
}
.config:hover{

    background-color: #1b1b1b;

}  
input[type='submit']{

    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: black;
}
.size-img-profile{

    width: 100%;
    height: 300px;
    display: flex;
    align-items: end;
    padding: 25px 0px 25px 10px;
    box-shadow: 0px 0px 7px black;
    background-color: #1b1b1b;

}
.img-profile{

    width: 250px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: #1b1b1b;
    outline: 1px solid white;
}
.name-space{

    width: 300px;
    height: 40px;
    display: flex;
}
.name{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Settings for phone */

@media (max-width: 768px){

    
}