@import url('../../styles/colors.css');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
form{

    width: 550px;
    height: 550px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
input[type='text']{

    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-box-ligth);
    padding-left: 5px;
    color: var(--color-font-ligth);
    margin-top: 20px;
}
#msg-error{
    width: 90%;
    height: 10px;
    font-size: 10px;
    color: red;
    text-align: center;
}
img{

    width: 350px;
    height: 220px;
    border-radius: 10px;
    background-color: var(--color-box-ligth);
}
.div-config{

    width: 80%;
    height: 130px;
    display: flex;
}
.div-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
input[type='file']{
    display: none;
}
.labelClick{

    width: 180px;
    height: 80px;
    background-color: var(--color-box-ligth);
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
    text-align: center;
    transition: .3s;
}
.labelClick:hover{
    
   transform: scale(1.04);
}
progress{
    width: 180px;
    border-radius: 10px;
    outline: 2px solid var(--color-background-ligth);
}
input[type='submit']{

    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(37, 37, 190);
    color: white;
    transition: .3s;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: var(--color-box-dark);
}
@media (max-width: 768px){
    form{
        box-shadow: none;
    }
    .div-config{
        width: 100%;
    }
}