@import url('../styles/colors.css');
body{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding: 50px 30px;
    background-color: transparent;
}
label{

    color: var(--color-font-ligth);
    margin-left: 20px;
    width: 100%;
}
input{

    width: 90%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-box-ligth);
    color: var(--color-font-ligth);
}
input[type='submit']{

    background-color: rgb(24, 182, 24);
    cursor: pointer;
    color: white;
    padding: 0;
}
input[type='submit']:hover{

    box-shadow: 0px 0px 7px rgb(24, 182, 24);
    transition: .3s;
}
@media (max-width: 768px){
    form{
        box-shadow: none;
    }
}