body{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
.box-options{    

    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 10px black;
}
.box-options a{

    padding: 12px;
    text-decoration: none;
    display: block;
}
.box-options a:hover{

    background-color: #2b2b2b;
    transition: .3s;
}
.main-box{

    margin-left: 250px;
    width: 100%;
    height: 100%;
}
.yourProfile{

    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}
label{

    width: 100%;
}
input{

    margin: 10px 0;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}
.msg-error{

    font-size: 10px;
    width: 100%;
    color: rgb(37, 37, 190);
    padding-bottom: 10px;
}
.alterPass{

    padding: 0;
    background-color: rgb(255, 255, 69);
    cursor: pointer;
    border-radius: 10px;

}
.alterPass:hover{

    transition: .3s;
    box-shadow: 0px 0px 7px rgb(255, 255, 69);
}
.submit{

    margin-top: 30px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(37, 37, 190);
}
.submit:hover{

    transition: .3s;
    box-shadow: 0px 0px 7px rgb(37, 37, 190);
}
.deleteUser{

    cursor: pointer;
    background-color: rgb(45, 45, 45);
    color: rgb(203, 51, 42);
}
.deleteUser:hover{

    background-color: rgb(203, 51, 42);
    color: rgb(25, 25, 25);
    transition: .3s;
}
@media (max-width: 768px){

    .box-options{

        width: 120px;
    }
    .box-options a{

        font-size: 12px;
    }
    .yourProfile{

        width: 100%;
    }
}