:root{

    --color-box-dark: #1b1b1b;
    --color-background-dark: #0b0b0b;
    --color-font-dark: white;

    --color-background-ligth: rgb(174, 174, 174);
    --color-box-ligth: rgb(200, 200, 200);
    --color-font-ligth: black;
}